<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Свой-чужой</title>
    <script src="JS/script.js"></script>
</head>
<body>
    <center>
        <h1>Модель обучена!</h1>
        <p>Если хотите, то можете оставить у нас свою модель. Мы сохраним её под ID: {{url}}.</p>
        <p>Можете скачать её по <a href="face/{{url}}">ссылке</a>.</p>
        <p>Или <a href="data/{{url}}">скачать лица</a>, которые получились с ваших данных.</p>
        <p>Также вы можете подписать на рассылку <a href="https://t.me/ExampleSlavaShestakov_bot" target="_blank">Telegram-бота</a>.</p>
        <p><button onclick="main()">На главную</button></p>
    </center>
</body>
</html>
