<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свой-чужой</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td width="50%"></td>
            <td width="50%"></td>
        </tr>
        <tr><td>
            <h1>Загрузка Фото</h1>
            <form action="upload_image" method="post" enctype=multipart/form-data>
                <input type="file" name="file" multiple>
                <br/>
                <input type="submit" value="Загрузить">
            </form>
            <br>
            <h1>Загрузка Видео</h1>
            <form action="upload_video" method="post" enctype=multipart/form-data>
                <input type="file" name="file" multiple>
                <br/>
                <input type="submit" value="Загрузить">
            </form>
            <br>
            {% if dataurl %}
                <a href="data/{{dataurl}}">Скачать архив лиц</a>
            {% endif %}
        </td>
        <td>
            <h1>Загрузка Архива лиц</h1>
            <form action="upload_zip" method="post" enctype=multipart/form-data>
                <input type="file" name="file" multiple>
                <br/>
                <input type="submit" value="Загрузить">
            </form>
            <br>
            {% if url %}
                <a href="face/{{url}}">Скачать сеть</a>
            {% endif %}
        </td></tr>
    </table>
</body>
</html>
