<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Свой-чужой</title>
    <script src="JS/script.js"></script>
</head>
<body>
    <center>
        <h1>Добро пожаловать в систему распознавания лиц!</h1>
        <p>Давайте обучим на Вас модель распознавания лиц. Для этого вы можете:</p>
        <p><input type="radio" name="type" value="upload" checked>Загрузить файлы</p>
        <p><input type="radio" name="type" value="web">Снять видео с web-камеры</p>
        <p><button onclick="next(document)">Далее</button></p>
    </center>
</body>
</html>
