<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Свой-чужой</title>
    <script src="JS/script.js"></script>
</head>
<body>
    <center>
        <h1>Загрузка файлов</h1>
        <p>На этой странице вы сожете загрузить свои фото / видео / архивы, чтобы мы нашли на них лица.</p>
        <p>Оптимальное количество фото для обучения — 250, время обучениея на них будет менее 30 секунд.</p>
        <p><form action="upload" method="post" enctype=multipart/form-data>
            <input type="file" name="file" multiple>
            <br/>
            <input type="submit" value="Загрузить">
        </form></p>
        <button onclick="main()">Назад</button>
    </center>
</body>
</html>
